.list {
  list-style: none;
  padding: 1rem;
  display: flex;
}

.list > * + * {
  margin-left: 1rem;
}

.navAnchor {
  text-decoration: underline 2px;
}

.navAnchor:hover,
.navAnchor:focus {
  text-decoration: underlined dotted 2px;
}